[include]
  path          = ~/.gitconfig.local  # ユーザ名などは、公開したくないので別ファイル化
[color]
  ui            = true
  status        = auto
  branch        = auto
  grep          = auto
[core]
  pager = lv -c
  excludesfile = /Users/syotaro/.config/git/ignore.global
  quotepath     = false
  editor = vim
[tig "bind"]
  generic       = g move-first-line
  generic       = G move-last-line
[grep]
  lineNumber    = true
[github]
  user = syotaro
[alias]
  st            = status
  graph         = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
  precommit     = diff --cached --diff-algorithm=minimal -w
  co            = checkout
  vimdiff       = difftool -y -t Vim
  ksdiff        = difftool -y -t Kaleidoscope
  dc            = diff --cached
  ss            = status -s
  po            = push origin         # push origin
  mn            = merge --no-ff
  co            = checkout
  ba            = branch -a           # originも含めた全てのbranchを表示
  bm            = branch --merged     # merge済みのbranchを表示
  bn            = branch --no-merged  # mergeしてないbranchを表示
#[http]
#  sslVerify = false
[pager]
   diff  = LESS=-R less
#  log   = diff-highlight | LESS=-R less
#  show  = diff-highlight | LESS=-R less
#[hub]
#protocol = https


[difftool "Vim"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

# merge
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool]
	prompt = false
[http]
	postBuffer = 524288000
[user]
	name = syotaro
	email = yamamoto@crearts.jp
