
### Git Config
/.gitconfig.local

### IntelliJ
intelliJ/

### Vagrant
vagrant/Vagrantfile


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


.config/nvim/bundle/*
.config/nvim/session/*
.config/nvim/.init.vim-rplugin~

