### Original
/.vim/bundle
/.aws/keys/pk.pem
/.aws/keys/KP.pem
/.aws/keys/credential-file-path
/.aws/keys/cert.pem
/.aws/keys/*
/.claws.yml

### Git Config
/.gitconfig.local

### IntelliJ
intelliJ/

### Vagrant
vagrant/Vagrantfile

### Auth Token
/.vimrc.evervim
/.aws/keys/awscli.conf
/iTerm/com.googlecode.iterm2.plist
/.hateblo.vim
