[include]
  path          = ~/.gitconfig.local  # ユーザ名などは、公開したくないので別ファイル化
[color]
  ui            = true
  status        = auto
  branch        = auto
  grep          = auto
[core]
  pager = lv -c
	excludesfile = /Users/syotaro/.gitignore.global
  quotepath     = false
  editor = vim
#  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[tig "bind"]
  generic       = g move-first-line
  generic       = G move-last-line
[push]
  default = simple                   # カレントブランチと同名のリモートブランチが存在する場合のみ、カレントブランチのpushが行われる
[grep]
  lineNumber    = true
[github]
  user = syotaro
[url "git@github.com:syotaro/"]
  insteadof     = gh:
[alias]
      # status
  st            = status
  co            = checkout
  vimdiff       = difftool -y -t Vim
  ksdiff        = difftool -y -t Kaleidoscope
  dc            = diff --cached
  s             = status
  ss            = status -s
  po            = push origin         # push origin
  mn            = merge --no-ff
  co            = checkout
  ba            = branch -a           # originも含めた全てのbranchを表示
  bm            = branch --merged     # merge済みのbranchを表示
  bn            = branch --no-merged  # mergeしてないbranchを表示
[http]
  sslVerify = false
[pager]
   diff  = LESS=-R less
#  log   = diff-highlight | LESS=-R less
#  show  = diff-highlight | LESS=-R less
[hub]
protocol = https


# difftool
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "Vim"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 

# merge
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
