[client]
user        = root
password    = root
port        = 3306
# paging 機能を支援する。
#pager="less -n -i -F -X -E"


[mysql]
prompt=\\u@\\h:\\d>\\
safe-updates
show_warnings
default-character-set=utf8


[mysqld]
#datadir = /Users/syotaro/Dropbox/work/database/localhost/data
character-set-server = utf8
tmpdir  = /tmp


# InnoDB
innodb_file_per_table
innodb_flush_log_at_trx_commit = 2

# log
pid-file= /Users/syotaro/.mysql.pid
log-error=/Users/syotaro/.mysql.err
slow_query_log = 0
slow_query_log_file = /Users/syotaro/.mysql.slow_query.log
## 一般クエリログの無効化
general_log = 0
general-log-file=/Users/syotaro/.query.log
## バイナリーログの無効化
log_bin = 0

# リストア高速化
## ダブルライトバッファの無効化
skip_innodb_doublewrite

# 名前解決無効
skip-name-resolve

[mysqldump]
#max_allowed_packet = 16M
quick
set-charset
single-transaction



