<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LegacyAssets/Black_photo-h-1.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Black_photo-h-2.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Black_photo-h.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Black_photo-v-1.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Black_photo-v-2.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Black_photo-v.pdf</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LegacyAssets/Blueprint_photo-h.pdf</key>
	<array>
		<integer>56</integer>
		<integer>74</integer>
		<integer>184</integer>
	</array>
	<key>LegacyAssets/Blueprint_photo-v.pdf</key>
	<array>
		<integer>56</integer>
		<integer>74</integer>
		<integer>184</integer>
	</array>
	<key>LegacyAssets/Crayon_photo-h.pdf</key>
	<array>
		<integer>184</integer>
		<integer>174</integer>
		<integer>139</integer>
	</array>
	<key>LegacyAssets/Crayon_photo-v.pdf</key>
	<array>
		<integer>184</integer>
		<integer>174</integer>
		<integer>139</integer>
	</array>
	<key>LegacyAssets/Formal_cover-3up.pdf</key>
	<array>
		<integer>77</integer>
		<integer>81</integer>
		<integer>93</integer>
	</array>
	<key>LegacyAssets/Formal_cover-photo-big.pdf</key>
	<array>
		<integer>219</integer>
		<integer>223</integer>
		<integer>222</integer>
	</array>
	<key>LegacyAssets/Formal_inside-3up.pdf</key>
	<array>
		<integer>219</integer>
		<integer>223</integer>
		<integer>222</integer>
	</array>
	<key>LegacyAssets/Formal_inside-photo-big.pdf</key>
	<array>
		<integer>219</integer>
		<integer>223</integer>
		<integer>222</integer>
	</array>
	<key>LegacyAssets/Formal_photo-h.pdf</key>
	<array>
		<integer>219</integer>
		<integer>223</integer>
		<integer>222</integer>
	</array>
	<key>LegacyAssets/Formal_photo-v.pdf</key>
	<array>
		<integer>219</integer>
		<integer>223</integer>
		<integer>222</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-h-1.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-h-2.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-h.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-v-1.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-v-2.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/Gradient_photo-v.pdf</key>
	<array>
		<integer>24</integer>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<key>LegacyAssets/HandmadePaper_photo-h-1.pdf</key>
	<array>
		<integer>226</integer>
		<integer>216</integer>
		<integer>172</integer>
	</array>
	<key>LegacyAssets/HandmadePaper_photo-v.pdf</key>
	<array>
		<integer>226</integer>
		<integer>216</integer>
		<integer>172</integer>
	</array>
	<key>LegacyAssets/Hard_Cover_photo-h.pdf</key>
	<array>
		<integer>226</integer>
		<integer>216</integer>
		<integer>172</integer>
	</array>
	<key>LegacyAssets/Hard_Cover_photo-v.pdf</key>
	<array>
		<integer>226</integer>
		<integer>216</integer>
		<integer>172</integer>
	</array>
	<key>LegacyAssets/Imagine_photo-h.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/Imagine_photo-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/LeatherBook_photo-h.pdf</key>
	<array>
		<integer>244</integer>
		<integer>237</integer>
		<integer>217</integer>
	</array>
	<key>LegacyAssets/LeatherBook_photo-v.pdf</key>
	<array>
		<integer>244</integer>
		<integer>237</integer>
		<integer>217</integer>
	</array>
	<key>LegacyAssets/Letterpress_photo-h.pdf</key>
	<array>
		<integer>212</integer>
		<integer>212</integer>
		<integer>180</integer>
	</array>
	<key>LegacyAssets/Letterpress_photo-v.pdf</key>
	<array>
		<integer>212</integer>
		<integer>212</integer>
		<integer>180</integer>
	</array>
	<key>LegacyAssets/LinenBook_photo-h.pdf</key>
	<array>
		<integer>241</integer>
		<integer>240</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/LinenBook_photo-v.pdf</key>
	<array>
		<integer>241</integer>
		<integer>240</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-h-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-h-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-h.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-v-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-v-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-vh-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-vh-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_2-up-vh.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up-v-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up-v-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_3-up.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_4-up-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_4-up-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_4-up.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-big-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-big-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-big.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-h-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-h-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-h.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-v-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-v-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/ModernPortfolio_photo-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/Notebook_photo-h_base.pdf</key>
	<array>
		<integer>5</integer>
		<integer>123</integer>
		<integer>147</integer>
	</array>
	<key>LegacyAssets/Notebook_photo-h_top.pdf</key>
	<array>
		<integer>5</integer>
		<integer>123</integer>
		<integer>147</integer>
	</array>
	<key>LegacyAssets/Notebook_photo-v_base.pdf</key>
	<array>
		<integer>5</integer>
		<integer>123</integer>
		<integer>147</integer>
	</array>
	<key>LegacyAssets/Notebook_photo-v_top.pdf</key>
	<array>
		<integer>5</integer>
		<integer>123</integer>
		<integer>147</integer>
	</array>
	<key>LegacyAssets/OldSilk_photo-bullets.pdf</key>
	<array>
		<integer>196</integer>
		<integer>138</integer>
		<integer>66</integer>
	</array>
	<key>LegacyAssets/OldSilk_photo-h.pdf</key>
	<array>
		<integer>196</integer>
		<integer>138</integer>
		<integer>66</integer>
	</array>
	<key>LegacyAssets/OldSilk_photo-v.pdf</key>
	<array>
		<integer>196</integer>
		<integer>138</integer>
		<integer>66</integer>
	</array>
	<key>LegacyAssets/Parchment_photo-bullets.pdf</key>
	<array>
		<integer>216</integer>
		<integer>198</integer>
		<integer>167</integer>
	</array>
	<key>LegacyAssets/Parchment_photo-h.pdf</key>
	<array>
		<integer>216</integer>
		<integer>198</integer>
		<integer>167</integer>
	</array>
	<key>LegacyAssets/Parchment_photo-v.pdf</key>
	<array>
		<integer>216</integer>
		<integer>198</integer>
		<integer>167</integer>
	</array>
	<key>LegacyAssets/Pinstripe_photo-h.pdf</key>
	<array>
		<integer>169</integer>
		<integer>185</integer>
		<integer>185</integer>
	</array>
	<key>LegacyAssets/Pinstripe_photo-v.pdf</key>
	<array>
		<integer>169</integer>
		<integer>185</integer>
		<integer>185</integer>
	</array>
	<key>LegacyAssets/Portfolio_cover-h.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_cover-v.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_cover-v_right.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_photo-big.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_photo-h.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_photo-panorama.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_photo-square.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Portfolio_photo-v.pdf</key>
	<array>
		<integer>218</integer>
		<integer>215</integer>
		<integer>208</integer>
	</array>
	<key>LegacyAssets/Pushpin_photo-h.pdf</key>
	<array>
		<integer>65</integer>
		<integer>64</integer>
		<integer>69</integer>
	</array>
	<key>LegacyAssets/Pushpin_photo-v.pdf</key>
	<array>
		<integer>65</integer>
		<integer>64</integer>
		<integer>69</integer>
	</array>
	<key>LegacyAssets/Scrapbook_photo-h.pdf</key>
	<array>
		<integer>218</integer>
		<integer>194</integer>
		<integer>136</integer>
	</array>
	<key>LegacyAssets/Scrapbook_photo-v.pdf</key>
	<array>
		<integer>218</integer>
		<integer>194</integer>
		<integer>136</integer>
	</array>
	<key>LegacyAssets/Showcase_photo-h.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/Showcase_photo-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/Storyboard_1-Up.pdf</key>
	<array>
		<integer>28</integer>
		<integer>33</integer>
		<integer>36</integer>
	</array>
	<key>LegacyAssets/Storyboard_6-Up.pdf</key>
	<array>
		<integer>28</integer>
		<integer>33</integer>
		<integer>36</integer>
	</array>
	<key>LegacyAssets/Storyboard_photo-v.pdf</key>
	<array>
		<integer>28</integer>
		<integer>33</integer>
		<integer>36</integer>
	</array>
	<key>LegacyAssets/Vintage_photo-bullets.pdf</key>
	<array>
		<integer>137</integer>
		<integer>138</integer>
		<integer>115</integer>
	</array>
	<key>LegacyAssets/Vintage_photo-h.pdf</key>
	<array>
		<integer>137</integer>
		<integer>138</integer>
		<integer>115</integer>
	</array>
	<key>LegacyAssets/Vintage_photo-v.pdf</key>
	<array>
		<integer>137</integer>
		<integer>138</integer>
		<integer>115</integer>
	</array>
	<key>LegacyAssets/Watercolor_photo-h.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watercolor_photo-v.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watermark_cover-h.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watermark_photo-l.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watermark_photo-r.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watermark_photo-v.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/Watermark_photo_bullet.pdf</key>
	<array>
		<integer>230</integer>
		<integer>237</integer>
		<integer>246</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-2up-1.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-2up-2.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-2up.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-3up-1.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-3up-2.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-3up.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-big-1.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-big-2.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-big.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-h-1.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-h-2.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-h.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-v-1.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-v-2.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/WhiteCorners_photo-v.pdf</key>
	<array>
		<integer>240</integer>
		<integer>239</integer>
		<integer>235</integer>
	</array>
	<key>LegacyAssets/White_photo-h-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/White_photo-h-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/White_photo-h.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/White_photo-v-1.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/White_photo-v-2.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/White_photo-v.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/blackboard_photo-h.pdf</key>
	<array>
		<integer>53</integer>
		<integer>55</integer>
		<integer>67</integer>
	</array>
	<key>LegacyAssets/blackboard_photo-v.pdf</key>
	<array>
		<integer>53</integer>
		<integer>55</integer>
		<integer>67</integer>
	</array>
	<key>LegacyAssets/blackboard_tape_only.tiff</key>
	<array>
		<integer>53</integer>
		<integer>55</integer>
		<integer>67</integer>
	</array>
	<key>LegacyAssets/bullet_ft_sq-white.pdf</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>LegacyAssets/fun_photo-bullets.pdf</key>
	<array>
		<integer>232</integer>
		<integer>160</integer>
		<integer>84</integer>
	</array>
	<key>LegacyAssets/fun_photo-h.pdf</key>
	<array>
		<integer>232</integer>
		<integer>160</integer>
		<integer>84</integer>
	</array>
	<key>LegacyAssets/fun_photo-v.pdf</key>
	<array>
		<integer>232</integer>
		<integer>160</integer>
		<integer>84</integer>
	</array>
	<key>LegacyAssets/graphpaper_photo-h.pdf</key>
	<array>
		<integer>244</integer>
		<integer>244</integer>
		<integer>244</integer>
	</array>
	<key>LegacyAssets/graphpaper_photo-panoramic.pdf</key>
	<array>
		<integer>244</integer>
		<integer>244</integer>
		<integer>244</integer>
	</array>
	<key>LegacyAssets/graphpaper_photo-v.pdf</key>
	<array>
		<integer>244</integer>
		<integer>244</integer>
		<integer>244</integer>
	</array>
</dict>
</plist>
